<md-dialog flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Форма загрузки</h3>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="uploadForm" ng-submit="uploadFile()">
            <div class="md-dialog-content">
                <!--<label>Выберите файл с категориями</label>-->
                <!--<md-input-container class="md-block">-->
                    <!--<input type="file" name="category" file-model="filename[0]">-->
                <!--</md-input-container>-->
                <label>Выберите файл с данными</label>
                <md-input-container class="md-block">
                    <input type="file" file-model="dataFiles" multiple>
                    <small class="text-muted">Файлы должны иметь расширение .csv</small>
                </md-input-container>
                <button class="btn btn-primary" type="submit">Submit</button>
                <button class="btn btn-warning" ng-click="cancelForm()">Cancel</button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>