<md-dialog flex="40">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{ 'DIALOG.HEADER' | translate }}</h3>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="vm.productForm" novalidate ng-submit="vm.saveProduct()">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>{{ 'CATEGORY.NAME' | translate }}</label>
                    <md-select name="category"
                               ng-model="vm.product.category.id"
                               placeholder="{{ 'CATEGORY.PLACEHOLDER' | translate }}"
                               required>
                        <md-option ng-repeat="cat in vm.categories"
                                   value="{{cat.id}}"
                                   ng-selected="cat.id == vm.product.category.id">{{cat.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="vm.productForm.category.$error">
                        <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
                <br>
                <md-input-container class="md-block">
                    <label>{{ 'PRODUCT.NAME' | translate}}</label>
                    <input type="text"
                           name="name"
                           ng-model="vm.product.name"
                           md-maxlength="255"
                           required>
                    <div ng-messages="vm.productForm.name.$error">
                        <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
                        <div ng-message="md-maxlength">{{ 'PRODUCT.NAME_LENGTH' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'PRODUCT.PRICE' | translate}}</label>
                    <input type="number"
                           name="price"
                           ng-model="vm.product.price"
                           required>
                    <div ng-messages="vm.productForm.price.$error">
                        <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'PRODUCT.COUNT' | translate}}</label>
                    <input type="number"
                           name="count"
                           ng-model="vm.product.count"
                           required>
                    <div ng-messages="vm.productForm.count.$error">
                        <div ng-message="required">{{ 'REQUIRED' | translate}}</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{ 'PRODUCT.DESC' | translate}}</label>
                    <textarea
                            name="description"
                            ng-model="vm.product.description"
                            md-maxlength="1000"></textarea>
                    <div ng-messages="vm.productForm.count.$error">
                        <div ng-message="md-maxlength">{{ 'PRODUCT.DESC_LENGTH' | translate}}</div>
                    </div>
                </md-input-container>
                <button class="btn btn-primary" type="submit">{{ 'BUTTON.SUBMIT' | translate}}</button>
                <button class="btn btn-warning" ng-click="vm.cancelForm()">{{ 'BUTTON.CANCEL' | translate}}</button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>