<md-dialog flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>Category form</h3>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="row" style="margin: 0">
            <div class="col-sm-6">
                <div class="col-sm-2">
                    <md-button class="md-fab md-mini md-warn" ng-disabled="categories | checkedFilter"
                               ng-click="deleteCategories()" style="margin-right: 40px">
                        <md-tooltip>Удалить продукт</md-tooltip>
                        <md-icon md-svg-src="icons/bin.svg"></md-icon>
                    </md-button>
                </div>
                <div class="col-sm-10">
                    <input placeholder="Поиск категории..." ng-model="categoryKeyword" class="form-control"
                           style="margin-top: 6px">

                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="checkedCategory" ng-click="checkAllCategories()"></th>
                            <th>Категория</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="category in categories | filter: categoryKeyword">
                            <td><input type="checkbox" ng-model="category.checked"></td>
                            <td ng-click="manageCategory(category)">{{category.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-6">
                <form name="categoryForm" novalidate ng-submit="saveCategory(category)">
                    <h4>Редактирование категории:</h4>
                    <md-input-container class="md-block">
                        <label>Категория товара:</label>
                        <input type="text"
                               name="category"
                               ng-model="category.name">
                    </md-input-container>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <button class="btn btn-warning" ng-click="cancelForm()">Cancel</button>

    </md-dialog-actions>
</md-dialog>