<md-dialog flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>{{ 'CATEGORY_HEADER' | translate}}</h3>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="row" style="margin: 0">
            <div class="col-sm-6">
                <div class="col-sm-2">
                    <md-button class="md-fab md-mini md-warn" ng-disabled="vm.categories | checkedFilter"
                               ng-click="vm.deleteCategories()" style="margin-right: 40px">
                        <md-tooltip>{{ 'DELETE' | translate}}</md-tooltip>
                        <md-icon md-svg-src="icons/bin.svg"></md-icon>
                    </md-button>
                </div>
                <div class="col-sm-10">
                    <input placeholder="{{ 'SEARCH' | translate}}" ng-model="vm.categoryKeyword" class="form-control"
                           style="margin-top: 6px">

                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="vm.checkedCategory" ng-click="vm.checkAllCategories()"></th>
                            <th>{{ 'TH.CATEGORY' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="category in vm.categories | filter: vm.categoryKeyword">
                            <td><input type="checkbox" ng-model="category.checked"></td>
                            <td ng-click="vm.manageCategory(category)">{{category.name}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-6">
                <form name="categoryForm" novalidate ng-submit="vm.saveCategory()">
                    <h4>{{ 'CATEGORY_UPDATE_HEADER'  | translate}}</h4>
                    <md-input-container class="md-block">
                        <label>{{ 'CATEGORY.NAME' | translate}}</label>
                        <input type="text"
                               name="category"
                               ng-model="vm.category.name">
                    </md-input-container>
                    <button class="btn btn-primary" type="submit">{{ 'BUTTON.SUBMIT' | translate}}</button>
                </form>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <button class="btn btn-warning" ng-click="vm.cancelForm()">{{ 'BUTTON.CANCEL' | translate}}</button>

    </md-dialog-actions>
</md-dialog>